@import "bootstrap";
@import "slider";

$lane-space: 50px;

body {
    background: #f3f3f3;
    text-align: center;
}

.main {
    .row > * {
        padding: 10px;
    }
}

.navigation {
    background: #eaeaea;
}

/* Lane Elememente */

.slider-container {
    padding: 1em 3em;
}

.char-element {
    display: inline-block;
    width: 15px;
}

.lane-block {
    display: flex;
    align-items: flex-start;
}

.lane {
    margin-top: $lane-space;
    text-align: left;
    cursor: grab;
    color: #6E6E6E;
}

.lanes {
    overflow: auto;
    z-index: 5;
    width: 90%;
    white-space: nowrap;
}

.labels {
    z-index: 6;
    width: 9%;
    border: 1px solid #BABABA;
}

.lanesource {
    background: #6E6E6E;
    color: #FFFFFF;
    padding: 0px 10px;
    margin-top: $lane-space;
}

.source-select {
    position: relative;
    padding: 10px;
    display: inline-block;
}

.source-button {
    margin: 10px;
}

.lane-aggregation-source {
  background: #6E6E6E;
  color: #FFFFFF;
  padding: 0px 10px;
  display: block;
  position: fixed;
  transform: rotate(90deg);
  left: -30px;
  margin-top: 20px;
}



/** SearchField Custom Styles **/

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}
